<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h2>Recipe Box</h2>
  </div>
  <div class="well">
    <div *ngIf="hasRecipes > 0; else elseBlock">
      <h2>Recipes:</h2>
      <a href=""><p *ngFor="let currentRecipe of myRecipeBox.recipes">{{currentRecipe.name}}</p></a>
      <!-- the href needs to load the recipe when clicked; to be replaced by click="" -->
    </div>
    <ng-template #elseBlock>There are no recipes yet.</ng-template>
  </div>
  <div class="well">
    <p>Add a recipe? Later this will be description and then a list</p>
    <div class="row">
      <div class="col-md-2"><button (click)="addRecipe()">Add a Recipe</button></div>
      <div class="col-md-2"><button (click)="updateRecipe()">Edit a Recipe</button></div>
      <div class="col-md-2"><button (click)="deleteRecipe()">Delete a Recipe</button></div>
      <div class="col-md-2"><button (click)="findRecipe()">Find a Recipe</button></div>
      <div class="col-md-2"><input type="text"/></div>
    </div>
    <!-- <button type="button" name="button" [(ng-click)]="AppComponent.addRecipe()">Add Recipe</button> -->
  </div>
  <div id="addForm" class="center-block">
    <form>
      <h3>{{formName}}</h3>
      <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input type="text" id="name" name="name" value="">
        <label for="recipeDescription">Recipe Description</label>
        <input type="text area" id="description" name="description" value="">
        <label for="ingredientName">Add an Ingredient</label>
        <input type="text" id="ingredients" name="ingredients" value="">
        <button (click)="addIngredientToRecipe()" type="button" id="addIng" name="addIng">Add Ingredient</button>
        <label for="instructionName">Add an Instruction</label>
        <input type="text" id="instructions" name="instructions" value="">
        <button type="button" id="addInst" name="addInst">Add Instruction</button>
      </div>
      <button type="submit" class="btn-success" name="button">ADD</button>
    </form>
  </div>
</div>
